* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav-sec {
    display: flex;
    justify-content: center;
}

.linkli {
    display: none;
}

.nav {
    width: 80%;
}

.nav .nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul {
    display: flex;
    padding: 10px;
    align-items: center;
}

.nav-ul > li {
    padding: 10px;
}

.nav-end {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 5px;
    height: 30px;
}

.nav-end li > a {
    text-decoration: none;
    color: red;
}

.nav-end > li {
    padding: 10px;
}

.navimg {
    border-left: 1px solid green;
    padding-left: 15px;
}

.icon {
    display: none;
}

.firstpage {
    display: flex;
}

.fptop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fptextsec {
    display: flex;
    flex-direction: column;
}

.fptextsec > h1 {
    font-size: 2rem;
}

.fptextsec > p {
    background: #FF6433;
    padding: 10px;
    border-radius: 7px;
} 

.buttondiv {
    margin-top: 20px;
}

.button {
    color: white;
    background-color: orangered;
    padding: 10px;
    border-radius: 15px;
}

.clock {
    display: flex;
    margin-top: 30px;
}

.clocktext > p {
    font-size: 0.7rem;
}

.fpimg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.rateimg {
    width: 60%;
    height: auto;
}

.secondpage {
    display: flex;
    background: #E2E6E9;
}

.sptextsec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.listimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.listicon {
    width: 15px;
}

.li0 {
    display: flex;
    margin-bottom: 20px;
}

.spsec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.textarea {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}

.form {
    margin-top: 30px;
}

.spbutton {
    margin-top: 30px;
}



.page {
    display: flex;
}

.page > .sec1 {
    width: 50%;
} 

.sec1 > .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.page > .sec2 {
    width: 50%;
}

.text {
    font-size: 0.7rem;
    margin-top: 10px;
}

.bodylist {
    list-style: none;
}

.circlezone {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.subcircle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;
}

.border {
    position: absolute;
    height: 30px;
    transform: rotate(180deg);
    border: 1px dashed #FF6433;
    margin-top: 35px;
    margin-left: 14px;
}

.li1 {
    display: flex;
}

.subtext {
    font-size: 0.8rem;
    margin-top: 5px;
}

.listitem {
    margin: 20px;
}

.listtext {
    padding-left: 20px;
    margin-top: 7px;
}

.pagetwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    padding: 20px;
}

.sec3 > * {
    text-align: center;
}

header{
    font-size: 1rem;
}

.secondheader {
    font-size: 1.8rem;
}

.sec4 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.subsec {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 120px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3px;
    padding: 5px;
}

.box:hover {
    background: orangered;
    cursor: pointer;
}

.box > p {
    font-size: 0.8rem;
}

.image {
    padding: 10px;
    width: 15%;
}

#box {
    background-color: #FF6433;
}

.learnabout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 42%;
    margin-top: 7px;
}

.learnabout > p {
    font-size: 0.7rem;
}

.Lbtext {
    margin-right: 7px;
}

.Lbtext a {
    text-decoration: none;
}

.line {
    align-self: center;
    width: 25px;
    height: 5px;
}

.sec5 {
    display: flex;
    width: 100%;
}

.image2 {
    display: flex;
    position: absolute;
    width: 50%;
    height: 300px;
}

.image3 {
    display: flex;
    justify-self: flex-end;
    width: 50%;
    height: 300px;
    position: relative;
}

.image2 > .carimage {
    width: 100%;
}

.image3 > .engineimage {
    width: 100%;
}

.textsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    background-color: #FF6433;
    width: 60%;
    height: 300px;
    margin-left: 200px;
}

.textsection > p {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.contactbutton {
    margin: 20px;
}

.contactbtn {
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}

.sec6 {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    background-color: #F2F2F2;
}

.boldnum {
    margin-top: 20px;
    margin-bottom: 20px;
}

.boldnum > h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    color: #661CE7;
}

.pagefour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.sec7 {
    text-align: center;
}

.sec8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgone {
    width: 70%;
}

.page5{
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5head {
    text-align: center;
    margin-top: 40px;
}

.reviewsec {
    display: flex;
    margin-top: 50px;
}

.firstreview {
    background: white;
    padding: 30px;
    margin: 5px;
}

.reviewhead {
    display: flex;
    align-items: center;
}

.reviewimg {
    width: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.reviewline {
    display: flex;
}

.line {
    border-bottom: 4px solid gray;
    margin: 10px;
}

.red {
    border-color: red;
}

.page6 {
    background: #E2E6E9;
}

.mainsection {
    margin-top: 50px;
}

.tophead {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.page6text {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5px;
    background: white;
    padding: 10px;
}

.question-head {
    display: flex;
    padding-bottom: 10px;
}

.page6icon {
    display: block;
    margin-left: auto;
}    

.page6open {
    display: block;
}

.page7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(43, 42, 42);
}

.page7head {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.socials {
    width: 70px;
}

.page7texts {
    color: white;
    margin-top: 10px;
}

.page7texts > p {
    font-size: 0.8rem;
    padding-bottom: 7px;
    padding-top: 10px;
}

.page8 {
    display: flex;
    justify-content: space-evenly;
    background: rgb(43, 42, 42);
    color: white;
    padding: 20px;
}

.page8 > .page8ul {
    list-style: none;
    display: flex;
}

.page8ul > li {
    padding-left: 10px;
}

/* tablet view */

@media only screen and (max-device-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .nav-end {
        display: none;
    }

    .linkli {
        display: block;
    }

    .linkli a {
        text-decoration: none;
    }

    .icon {
        display: block;
        margin-left: auto;
    }

    .rateimg {
        width: 50%;
    }

    .nav-end > li {
        font-size: 0.7rem;
    }

    .textsection > p {
        font-size: 1.2rem;
    }

    .reviewsec {
        padding: 0;
        margin: 0;
    }

    .firstreview {
        padding: 10px;
    }

    .page6text {
        margin: 20px;
    }

}

/* mobile view */

@media only screen and (max-device-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    
    .nav-end {
        display: none;
    }

    .linkli {
        display: block;
    }

    .linkli a {
        text-decoration: none;
    }

    .icon {
        display: block;
        margin-left: auto;
    }

    .firstpage {
        display: flex;
        flex-direction: column;
    }

    .fptop {
        width: 100%;
    }

    .fpimg {
        width: 100%;
    }
    
    .rateimg {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }

    .secondpage {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .sptextsec {
        width: 100%;
        padding: 0;
    }

    .spsec2 {
        width: 100%;
        height: 40%;
        align-items: center;
    }

    .page {
        flex-direction: column;
        align-items: center;
    }

    .page > .sec1 {
        width: 100%;
    } 

    .sec2{
        width: 100%;
    }

    .container > h1 {
        font-size: 2rem;
    }

    .container > p {
        font-size: 1rem;
    }

    .sec1 > .container {
        max-width: 100%;
        margin-top: 5%;
    }

    .page > .sec2 {
        width: 100%;
    }

    .sec4 {
        display: flex;
        flex-direction: row;
    }

    .subsec {
        display: flex;
        flex-direction: column;
    }

    .sec5 {
        width: 100%;
    }

    .image2 {
        position: relative;
        width: 50%;
        height: 200px;
    }

    .textsection {
        position: absolute;
        height: 200px;
        width: 200px;
        z-index: 9999;
        margin-left: 100px;
    }

    .textsection > p {
        font-size: 1rem;
    }

    .image3 {
        position: relative;
        width: 50%;
        height: 200px;
    }

    .listtext  p {
        font-size: 1.5rem;
    }

    .sec2 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }

    .subtext {
        font-size: 1rem;
        margin-top: 5px;
    }

    .circlezone {
        margin-top: 7px;
    }

    .border{
        margin-top: 50px;
        height: 40px;
    }

    .learnabout{
        margin-right: 10px;
    }

    .boldnum p{
        font-size: 0.8rem;
    }
    
    .imgone {
        width: 80%;
    }

    .page5 {
        width: 100%;
    }

    .page5head {
        width: 80%;
    }

    .reviewsec {
        padding: 0;
        margin: 0;
    }

    .firstreview {
        padding: 10px;
    }

    .page6text {
        margin: 10px;
    }

    .page7 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .page7 > * {
        margin: 10px;
    }

    .page8 {
        padding: 0;
    }

    .page8 > .page8ul {
        display: none;
    }

    .page8 > img {
        width: 60px;
        height: 20px;
    }

    .page8 > p {
        font-size: 0.5rem;
    }

}




